<!--1st Section start-->
<section class="about_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white">Welcome to About Page</h1>
      </div>
    </div>
  </div>
</section>
<!--2nd Section start-->
<section class="about_2 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <img src="../../../assets/about_left.jpg" alt="img" />
      </div>
      <div class="col-md-8 col-sm-12">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          eleifend ex nec iaculis. Nullam magna quam, semper facilisis
          pellentesque et, tincidunt id nibh. Vivamus auctor arcu ac magna
          placerat suscipit. Suspendisse potenti. Mauris nec ante non lacus
          condimentum mattis. Maecenas nibh lacus, molestie tempor lorem
          consectetur, ultrices accumsan ligula.
        </p>
        <p>
          Vivamus dapibus orci feugiat consequat blandit. Nunc ultricies feugiat
          diam non blandit. Nullam vulputate condimentum leo eu sagittis. Proin
          faucibus nulla id augue faucibus convallis. Nullam justo sapien,
          venenatis dignissim tempor eu, consequat gravida turpis.
        </p>
        <p>
          Vestibulum volutpat urna a interdum placerat. Praesent eros odio,
          malesuada ac cursus nec, varius sed dolor. Vestibulum nec tempor
          purus. Maecenas tincidunt accumsan ornare. Mauris iaculis lobortis
          eros quis maximus. In nec ipsum ultricies, pulvinar ex eu, condimentum
          est. Mauris at tellus ut urna mollis iaculis. Vivamus lobortis mauris
          ex, at placerat tellus pharetra vel. Cras dapibus faucibus accumsan.
          Suspendisse eleifend magna quis leo lacinia elementum. Vivamus
          scelerisque quam purus, in vehicula dolor interdum sed. Fusce
          dignissim, nunc ut ornare porttitor, nisl justo fermentum lorem, quis
          maximus nibh tellus laoreet dui. Integer tempus, nulla sit amet
          posuere malesuada, magna tellus ultrices velit, ac posuere eros lorem
          tristique libero.
        </p>
        <p>
          Vivamus dapibus orci feugiat consequat blandit. Nunc ultricies feugiat
          diam non blandit. Nullam vulputate condimentum leo eu sagittis. Proin
          faucibus nulla id augue faucibus convallis. Nullam justo sapien,
          venenatis dignissim tempor eu, consequat gravida turpis.
        </p>
        <p>
          Vivamus dapibus orci feugiat consequat blandit. Nunc ultricies feugiat
          diam non blandit. Nullam vulputate condimentum leo eu sagittis. Proin
          faucibus nulla id augue faucibus convallis.
        </p>
      </div>
    </div>
  </div>
</section>
