<!-- Footer -->
<footer class="footer mt-5">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h3 class="text-uppercase">Footer Content</h3>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque
          ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae
          repudiandae aliquam voluptatem veniam, est atque cumque eum delectus
          sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
        <h3 class="text-uppercase">Pages</h3>

        <ul class="list-unstyled mb-0">
          <li>
            <a routerLink="" class="text-dark">Home</a>
          </li>
          <li>
            <a routerLink="about" class="text-dark">About</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
        <h3 class="text-uppercase">Social</h3>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Facebook</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Linkedin</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Youtube</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Twitter</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright: Assignment
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
