<!--1st Section start-->
<section class="gal_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white">Welcome to Gallery Page</h1>
      </div>
    </div>
  </div>
</section>
<!--1st Section start-->
<section class="gal_2 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-1.jpg" alt="img" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-2.jpg" alt="img" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-3.jpg" alt="img" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-4.jpg" alt="img" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-5.jpg" alt="img" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-6.jpg" alt="img" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-7.jpg" alt="img" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-8.jpg" alt="img" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-9.jpg" alt="img" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-10.jpg" alt="img" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-11.jpg" alt="img" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <div class="image-container">
          <div class="image">
            <img src="../../../assets/gal-img-12.jpg" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
