.gal_1 {
  background: url(../../../assets/gallery_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
.image-container {
  float: left;
  position: relative;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
}

.image img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  max-height: 145px;
}

.image-container:hover .image img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
