<!--Toolbar-->
<mat-toolbar color="primary">
  <span>Assignment</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <a routerLink="" class="nav-link">Home</a>
  <a routerLink="about" class="nav-link">About</a>
  <a routerLink="gallery" class="nav-link" *ngIf="displayGal">Gallery</a>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button (click)="openLoginDialog()" *ngIf="displayLogin">
    Login
  </button>
  <button mat-raised-button (click)="openLogoutDialog()" *ngIf="!displayLogin">
    Logout
  </button>
</mat-toolbar>
