.nav-link {
  color: #fff;
  padding: 0 20px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 200;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
