<section class="home_sec_1">
  <ngb-carousel *ngIf="images" [interval]="1000" [pauseOnHover]="true">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h1>Welcome to Home Page</h1>
        <p>On Hover Slider Will Stop</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h1>Welcome to Home Page</h1>
        <p>On Hover Slider Will Stop</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h1>Welcome to Home Page</h1>
        <p>On Hover Slider Will Stop</p>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<!--Grid col  3 in one row in lp col 2 in ipad col 1 in mobile -->
<section class="home_sec_1 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        <h1>Lorem ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          eleifend ex nec iaculis. Nullam magna quam, semper facilisis
          pellentesque et, tincidunt id nibh. Vivamus auctor arcu ac magna
          placerat suscipit. Suspendisse potenti. Mauris nec ante non lacus
          condimentum mattis.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        <h1>Lorem ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          eleifend ex nec iaculis. Nullam magna quam, semper facilisis
          pellentesque et, tincidunt id nibh. Vivamus auctor arcu ac magna
          placerat suscipit. Suspendisse potenti. Mauris nec ante non lacus
          condimentum mattis.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        <h1>Lorem ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          eleifend ex nec iaculis. Nullam magna quam, semper facilisis
          pellentesque et, tincidunt id nibh. Vivamus auctor arcu ac magna
          placerat suscipit. Suspendisse potenti. Mauris nec ante non lacus
          condimentum mattis.
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        <h1>Lorem ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          eleifend ex nec iaculis. Nullam magna quam, semper facilisis
          pellentesque et, tincidunt id nibh. Vivamus auctor arcu ac magna
          placerat suscipit. Suspendisse potenti. Mauris nec ante non lacus
          condimentum mattis.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        <h1>Lorem ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          eleifend ex nec iaculis. Nullam magna quam, semper facilisis
          pellentesque et, tincidunt id nibh. Vivamus auctor arcu ac magna
          placerat suscipit. Suspendisse potenti. Mauris nec ante non lacus
          condimentum mattis.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 text-center">
        <h1>Lorem ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo
          eleifend ex nec iaculis. Nullam magna quam, semper facilisis
          pellentesque et, tincidunt id nibh. Vivamus auctor arcu ac magna
          placerat suscipit. Suspendisse potenti. Mauris nec ante non lacus
          condimentum mattis.
        </p>
      </div>
    </div>
  </div>
</section>
