<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <p>are you sure you want to logout ?</p>
  <div class="text-right">
    <button mat-raised-button (click)="donotLogout()">No</button>
    <button mat-raised-button color="primary" class="ml-2" (click)="logout()">
      Yes
    </button>
  </div>
</mat-dialog-content>
