<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <!--user name-->
    <p>
      <mat-form-field class="w-100">
        <mat-label>User Id</mat-label>
        <input matInput formControlName="userName" />
        <mat-error *ngIf="formErrors.userName">{{
          formErrors.userName
        }}</mat-error>
      </mat-form-field>
    </p>
    <!--password-->
    <p>
      <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
        <mat-error *ngIf="formErrors.password">{{
          formErrors.password
        }}</mat-error>
      </mat-form-field>
    </p>
    <div class="text-right">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [class.spinner]="loading"
        [disabled]="loading"
      >
        Submit
      </button>
    </div>
  </form>
</mat-dialog-content>
